<div class="container-fluid padding0">
  <div class="row">
    <div class="mainContent">
        <div class="hero-module--topNavWrap--JJLjM">
          <div class="logo india_logo"></div>
          <div class="hero-module--topRightNav--2eKnV">
            <a href="javascript:void(0)" class="hero-module--login--1hnxr">Login<span
                class="hero-module--arrow--1Qsh6"></span></a>
            <a href="javascript:void(0)" class="hero-module--login--1hnxr">Join us<span
                class="hero-module--arrow--1Qsh6"></span></a>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <h1 class="hero-module--headline--N1N3n">We bring people together,<br> Love unites them....</h1>
            <div class="form-wrapper">
              <div class="form-row">
                <div class="form-group col-sm-3 col-md-3 col-6"><label class="label" for="lookingFor">Looking for</label>
                  <div class="Dropdown-root">
                    <select class="form-control">
                      <option>Man</option>
                      <option>Woman</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-2 col-6"><label class="label">Age From</label>
                  <div class="Dropdown-root">
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="Enter Age"></div>
                   
                  </div>
                 
                </div>
                <div class="form-group col-md-2 col-6"><label class="label">Age To</label>
                  <div class="Dropdown-root">
                    <div class="col-md-12"><input type="text" class="form-control" placeholder="To Age"></div>
                   
                  </div>
                  
                </div>
                <div class="form-group col-md-3 col-6"><label class="label" for="inputPassword4">Prefered Title</label>
                  <div class="Dropdown-root">
                      <select class="form-control">
                          <option>Hindu</option>
                          <option>Muslim</option>
                          <option>Sikh</option>
                          <option>Christian</option>
                        </select>
                  </div>
                </div>

                <div class="form-group col-md-2 col-12 btnWrap"><label class="label btnLable"
                    for="inputPassword4">&nbsp;</label><button data-testid="lets_begin" type="button"
                    class="btn btn-primary form-control">Let's Start</button></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
    <h2 class="text-center find_someone">Find your Special Someone</h2>
  <div class="row topMargin">
    <div class="col-md-4 col-xs-12 text-center">
        <img src="../../../assets/images/register-icon-blue1.png" alt="Register" class="rounded-circle rounded-lg">
        <div class="special_someone_wrap"><a id="sign_up_link" class="link" href="javascript:void(0)"></a><div>Register for free &amp; put up your Profile</div></div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <img src="../../../assets/images/register-icon-blue1.png" alt="Register" class="rounded-circle rounded-lg">
        <div class="special_someone_wrap"><a id="sign_up_link" class="link" href="javascript:void(0)"></a><div>Select &amp; Connect with Matches</div></div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <img src="../../../assets/images/register-icon-blue1.png" alt="Register" class="rounded-circle rounded-lg">
        <div class="special_someone_wrap"><a id="sign_up_link" class="link" href="javascript:void(0)"></a><div>Become a Premium Member &amp; Start a Conversation </div></div>
    </div>
  </div>
</div>
