<div class="container-fluid padding0">
  <div class="row">
    <div class="mainContent">
      <div class="hero-module--topNavWrap--JJLjM">
        <div class="logo india_logo"></div>
        <div class="hero-module--topRightNav--2eKnV">
          <a href="javascript:void(0)" class="hero-module--login--1hnxr margin0" data-toggle="modal"
            data-target="#loginModal">Login<span class="hero-module--arrow--1Qsh6"></span></a>
          <a href="javascript:void(0)" class="hero-module--login--1hnxr margin0" data-toggle="modal"
            data-target="#exampleModalCenter">Join us<span class="hero-module--arrow--1Qsh6"></span></a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h1 class="hero-module--headline--N1N3n">We bring people together,<br> Love unites them....</h1>
          <div class="form-wrapper">
            <div class="form-row">
              <div class="form-group col-sm-3 col-md-3 col-6"><label class="label" for="lookingFor">Looking for</label>
                <div class="Dropdown-root">
                  <select class="form-control">
                    <option>Man</option>
                    <option>Woman</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-2 col-6">
                <label class="label">Age From</label>
                <div class="Dropdown-root">
                  <select class="form-control">
                    <option disabled>Select Min Age</option>
                    <option value="18">18 yrs</option>
                    <option value="19">19 yrs</option>
                    <option value="20">20 yrs</option>
                    <option value="21">21 yrs</option>
                    <option value="22">22 yrs</option>
                    <option value="23">23 yrs</option>
                    <option value="24">24 yrs</option>
                    <option value="25">25 yrs</option>
                    <option value="26">26 yrs</option>
                    <option value="27">27 yrs</option>
                    <option value="28">28 yrs</option>
                    <option value="29">29 yrs</option>
                    <option value="30">30 yrs</option>
                    <option value="31">31 yrs</option>
                    <option value="32">32 yrs</option>
                    <option value="33">33 yrs</option>
                    <option value="34">34 yrs</option>
                    <option value="35">35 yrs</option>
                    <option value="36">36 yrs</option>
                    <option value="37">37 yrs</option>
                    <option value="38">38 yrs</option>
                    <option value="39">39 yrs</option>
                    <option value="40">40 yrs</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-2 col-6"><label class="label">Age To</label>
                <div class="Dropdown-root">
                  <select class="form-control">
                      <option disabled>Select Max Age</option>
                      <option value="19">19 yrs</option>
                      <option value="20">20 yrs</option>
                      <option value="21">21 yrs</option>
                      <option value="22">22 yrs</option>
                      <option value="23">23 yrs</option>
                      <option value="24">24 yrs</option>
                      <option value="25">25 yrs</option>
                      <option value="26">26 yrs</option>
                      <option value="27">27 yrs</option>
                      <option value="28">28 yrs</option>
                      <option value="29">29 yrs</option>
                      <option value="30">30 yrs</option>
                      <option value="31">31 yrs</option>
                      <option value="32">32 yrs</option>
                      <option value="33">33 yrs</option>
                      <option value="34">34 yrs</option>
                      <option value="35">35 yrs</option>
                      <option value="36">36 yrs</option>
                      <option value="37">37 yrs</option>
                      <option value="38">38 yrs</option>
                      <option value="39">39 yrs</option>
                      <option value="40">40 yrs</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-3 col-6"><label class="label" for="inputPassword4">Preferred Title</label>
                <div class="Dropdown-root">
                  <select class="form-control">
                    <option value="0" disabled>Select Title</option>
                    <option *ngFor="let title of titles" value="{{title._id}}">{{title.title}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-md-2 col-12 btnWrap"><label class="label btnLable"
                  for="inputPassword4">&nbsp;</label><button data-testid="lets_begin" type="button"
                  class="btn btn-primary form-control">Let's Start</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-center find_someone">Find your Special Someone</h2>
  <div class="row topMargin">
    <div class="col-md-4 col-xs-12 text-center">
      <img src="../../../assets/images/register-icon-blue1.png" alt="Register" class="rounded-circle rounded-lg">
      <div class="special_someone_wrap"><a id="sign_up_link" class="link" href="javascript:void(0)"></a>
        <div>Register for free &amp; put up your Profile</div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
      <img src="../../../assets/images/register-icon-blue1.png" alt="Register" class="rounded-circle rounded-lg">
      <div class="special_someone_wrap"><a id="sign_up_link" class="link" href="javascript:void(0)"></a>
        <div>Select &amp; Connect with Matches</div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
      <img src="../../../assets/images/register-icon-blue1.png" alt="Register" class="rounded-circle rounded-lg">
      <div class="special_someone_wrap"><a id="sign_up_link" class="link" href="javascript:void(0)"></a>
        <div>Become a Premium Member &amp; Start a Conversation </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Let's create account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="signUpForm">
            <div class="form-group">
              <label for="emailAddress">Email address</label>
              <input type="email" formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email">
             <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="inlineRadio1"
                  value="male">
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="inlineRadio2"
                  value="female">
                <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Create profile for</label>
              <select class="form-control" formControlName="profileFor" id="exampleFormControlSelect1">
                <option value="self">Self</option>
                <option value="son">Son</option>
                <option value="daughter">Daughter</option>
                <option value="brother">Brother</option>
                <option value="sister">Sister</option>
                <option value="friend">Friend</option>
                <option value="relative">Relative</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="createAccount()" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    
  </div>
</div>

<!-- Login modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" aria-describedby="emailHelp"
              placeholder="Enter email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Keep me remember</label>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="authenticate()" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
