<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand"><img
      src="https://static.wixstatic.com/media/df55a5_f453765162384680a6afa39b242972a2.png/v1/crop/x_0,y_100,w_2000,h_1529/fill/w_140,h_107,al_c,q_80,usm_0.66_1.00_0.01/df55a5_f453765162384680a6afa39b242972a2.webp"
      height="50" width="65"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="userInfoCheck" class="nav-item">
        <a class="nav-link" href="#">Find a Match</a>
      </li>
    </ul>
    <ul class="navbar-nav margin-rt">
      <li class="nav-item dropdown">
        <a *ngIf="!userInfoCheck" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <a *ngIf="userInfoCheck" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user?.name | uppercase}} {{user?.title?.title | uppercase}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a *ngIf="userInfoCheck" class="dropdown-item" (click)="wayToAnotherComponent()">Profile</a>
          <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
        </div>
      </li>
      <!-- <li class="nav-item">
              <a class="nav-link" href="{{ url('/login') }}">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url('/register') }}">Register</a>
          </li> -->
    </ul>
  </div>
</nav>
