<app-header></app-header>
<div class="container">
  <div class="row m-top">
    <!-- Team -->
    <section id="team" class="pb-5">
      <div class="container">
        <h5 class="section-title h2">Get started by saying hello to some of your Matches</h5>
        <div class="row">
          <!-- Team member -->
          <div *ngFor="let partner of partners" class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img class=" img-fluid" *ngIf="partner.profilePicUrl" src="{{partner?.profilePicUrl}}" alt="" />
                        <img class=" img-fluid" *ngIf="!partner.profilePicUrl" src="../../assets/images/userDummy.png" alt="" />

                      </p>
                      <h4 class="card-title">{{partner?.name | capitalize}} {{partner?.title?.title | capitalize}}
                      </h4>
                      <p class="card-text">Age: {{partner?.dateOfBirth | age}} </p>
                      <p class="card-text">Body Type: {{partner?.bodyType}}</p>
                      <p class="card-text">Height: {{partner?.heightCheck}}</p>
                      <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">{{partner?.name | capitalize}} {{partner?.title?.title | capitalize}}
                      </h4>
                      <p class="card-text">{{partner?.aboutUser | capitalize}}</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank">
                            <button type="button" class="btn btn-sm btn-light btn-border">Details</button>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center">
                            <i class="fa fa-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center">
                            <i class="fa fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->

        </div>
      </div>
    </section>
    <!-- Team -->

  </div>

</div>
<app-footer></app-footer>
